*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root{
    /*variables de colores primarios*/
    --color-primary-orange: hsl(26, 100%, 55%);
    --color-primary-orange-light: hsl(25, 100%, 94%);

    /*variables de colores neutrales*/
    --blue-light: hsl(220, 13%, 13%);
    --dark-blue:  hsl(219, 9%, 45%);
    --gris-blue: hsl(220, 14%, 75%);
    --Light-gris-blue : hsl(223, 64%, 98%);
    --white : hsl(0, 0%, 100%);

    }

body{
    font-family: 'Kumbh Sans', sans-serif;
}



.navBar{
    height: 60px;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

.navBar div{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.cart{
    position: relative;
}
.avatar, .cart, .menu-icon {
    width: 23px;
    
}
.avatar:hover{
    border-radius: 24px;
    background-color: var(--color-primary-orange);
}

.notication-numnb{
    padding: 3px 5px;
    background-color: var(--color-primary-orange);
    color: white;
    border-radius: 100%;
    position: absolute;
    font-size: 12px;
    top:5px;
    display: none;
}
.notication-numnb.active{
    display: block;
}

/*css galery movile*/

.slider__galery-mobile--img{
    display: flex;
    height: 225px;
    width: 100%;
    justify-content: space-around;
    gap: 75%;
    position: relative;
    align-items: center;
    z-index: 10;

}
.slider--img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: inherit;
    z-index: -20;
}


.next-icon, .previus-icon{
    padding: 3px;
    width: 15px;
    height: 15px;
    background: var(--white);
    border-radius: 50%;
    z-index: 10;

}
.description__container{
    display: flex;
    flex-direction: column;
}
.description{
    padding: 15px;
}

.description__category{
    color: var(--color-primary-orange);
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.description__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;

}
.description__text{
    color: var(--dark-blue);
    font-size: 14px;
}

.price-container{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price--actually{
    display: flex;
    gap: 20px;
}
.price--actually p{
    font-size: 24px;
    font-weight: 700;
}

.descount{
    background: var(--color-primary-orange-light);
    align-self: center;
    color: var(--color-primary-orange);
    font-size: 14px;
    font-weight: 700;
    padding: 3px;
}
.price--before{
    color: var(--dark-blue);
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 700;
}

.add-container{
    display: flex;
    height: 45px;
    background-color: var(--Light-gris-blue);
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    padding: 0px 15px;
    margin-bottom: 15px;
}

.button-primary{
    padding: 10px;
    width: 100%;
    background-color: var(--color-primary-orange);
    color: var(--white);
    font-weight: 700;
    border: none;
    border-radius: 10px;
    margin: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    box-shadow: 4px 12px 8px var(--color-primary-orange-light);
    
}
.button-primary:hover{
    opacity: 60%;
    margin: 1px solid var(--color-primary-orange-light);
}
.nav__menu-Desktop{
   margin-left: 55px;
   display: none!important;
}

.nav__menu-Desktop-list{
    text-decoration: none;
    display: flex;
}
.nav__menu-Desktop-item{
 text-decoration: none;
  list-style: none;
  margin-right: 15px;
  padding: 2px;
}
.nav__menu-Desktop-item:hover{
    background-color: var(--color-primary-orange-light);
    transition: 4ms;
    border-radius: 4px;
    
}
.nav__menu-Desktop-item a{
    text-decoration: none;
    color: var(--gris-blue);
   
}
.galery__desktop{
    display: none;
}

/*menu hamburgueza*/
.nav__menu-ham--container{
    position: absolute;
    background: rgba(0, 0, 0, 0.43);
    width: 100%;
    top: 0px;
    z-index: 50;
    display: none;
}
.nav__menu-ham{
    width: 70%;
    height: 100vh;
    background: var(--white);
    padding-left: 20px;
}
.close-ham{
    margin: 25px 0;
}

.nav__menu-ham-list{
    text-decoration: none;
}
.nav__menu-ham-item{
    text-decoration: none;
    list-style: none;
    margin-bottom: 12px;
}

.nav__menu-ham-item:hover{
    background-color: var(--color-primary-orange-light);
    transition: 4ms;
    
}
.nav__menu-ham-item a{
    color: #000;
    text-decoration: none;
    font-weight: 700;
    
}


/* Galeria en desktop*/

.imgMain-container{
    width: 400px;
    margin-bottom: 20px;
    cursor: pointer;
   
}
.imgMain-container img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.galery__desktop-imgMain-thubnails{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.img-thubnail-container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    
}
.img-thubnail-container img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.img-thubnail-container img:hover{
    opacity: 30%;
    border: 2px solid var(--color-primary-orange);
    cursor: pointer;
}
.select{
    opacity: 30%;
    border: 2px solid var(--color-primary-orange);
}

/*pop up de compras*/

.card__notification-buy,
.card__notification-empty{
    width: 268px;
    height: 210px;
    background-color: var(--white);
    padding: 13px;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    right: 4%;
    display: none;
}

.card__notification-buy.active{
    display: block;
}
.card__notification-empty.active{
    display: block;
}

.card__notification-title{
    margin-bottom: 20px;
}

.card__notication-info img{
    height: 45px;
    border-radius: 8px;
}
.card__noticaction-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid var(--gris-blue);
    margin-bottom: 20px;
}
.delete{
    width: 13px;
    height: 13px;
}
.card__notication-info{
    display: flex;
    gap: 10px;
}

.card__notication-info-text{
    font-size: 13px;
    color: var(--gris-blue);

}
.card__notication-info-text h4{
    font-weight: 300;
}
.card__notication-info-text-price--total{
    color: #000;
    font-weight: 700;
}
.info-empty{
   margin: 20px auto;
   color: var(--gris-blue);
   font-size: 14px;
}



/*Galery desktop pop Up/*/

.galery__desktop-popup-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.43);
    width: 100%;
    height: 100vh;
    justify-content: center;
    top: 0px;
    display:none;
}

.galery__desktop-popup-container.active{
    display: none;
}
.galery__desktop-popup{
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-galery-popup{
    margin-left: 95%;
    width: 20px;
    margin-bottom: 8px;
    cursor:pointer;
}

.galery__desktop-popup-img{
    width: 370px;
    border-radius: 17px;
    margin-bottom: 16px;
}
.galegy__desktop-slider{
    display: flex;
    align-items: center;
    position: relative;
}

.previus-icon-popup, .next-icon-popup{
    padding: 9px;
    width: 30px;
    height: 30px;
    z-index: 1000;
    cursor: pointer;
}
.previus-icon-popup{
    position: absolute;
    left: -15px;
}

.next-icon-popup{
    position: absolute;
    right: -15px;
}



.galery__desktop-popup-thumbs{
    display: flex;
    justify-content: space-between;
}

.img-thubnail-desktop-container{
    width: 65px;
    height: 65px;
    background-color: var(--white);
    border-radius: 12px;
}
.img-thubnail-desktop-container img{
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
   
   
}
.img-thubnail-desktop-container img:hover{
    opacity: 30%;
    border: 2px solid var(--color-primary-orange);
    cursor: pointer;
}
.select-pop{
    opacity: 75%;
    border: 2px solid var(--color-primary-orange);
}

.show{
    display: block;
}



@media (min-width:750px) {

    header, main{
        width: 85%;
        margin: auto;
    }
    .avatar {
        width: 45px;
    }
    .cart{
        width: 25px;
        height: 25px;

    }
    .menu-icon{
        display: none;
    }

    .navBar{
        height: 75px;
        border-bottom: 3px solid var(--Light-gris-blue);
        margin-bottom: 25px;
    }
    .nav__menu-Desktop{
        display: block !important;
     }

    .slider__galery-mobile{
        display: none;
    }
    .galery__desktop{
        display: block;
    }
    .description__container{
        display: flex;
        flex-direction: row;
        gap:40px;
        justify-content: center;
    }
   
    .description{
        width: 450px;
        
    }
    .description__title{
        font-size: 2.5rem;
        margin-bottom: 25px;
    }
    .description__text, .price-container{
        margin-bottom: 25px;
    }
    .price-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .buy-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .add-container{
        width: 40%;
        align-items: center;
        margin-bottom: 0px;
    }
    .card__notification-buy,
    .card__notification-empty{
       
    box-shadow: 3px 2px 13px hsla(225, 4%, 18%, 0.418);

    }
    .galery__desktop-popup-container.active{
        display: grid;
    }
  

}

@media(min-width:900px){
    .description__container{
        gap: 110px;
    }
}